{{ define "footer"}}
</div>
</main>

<footer class="py-5 bg-primary text-white">
  <div class="footer-top">
      <div class="container footer-social">
          <p>© 2023 CloudWeGo (<a class="text-white" href="https://github.com/cloudwego">Source Code</a>)</p>
      </div>
  </div>
</footer>

</body>
</html>
{{end}}

